/* style.css */

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    padding: 0;
}

#error {
    display: none;
}

footer {
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
}

.parity {
    display: block;
    margin-top: .75em;
    font-style: italic;
    font-size: .75em;
}

.navbar {
    background:  #002855;
    color: #fff;
}

.navbar > a, .navbar > a:hover, .navbar > a:active, .navbar > a:focus {
    color: #fff;
}

.btn1 {
    background: #535486;
    color: #fff;
}

.btn1:hover {
    background: #002855;
    color: #fff;
}

.btn2 {
    background: #4E87A0;
    color: #fff;
}

.btn2:hover {
    background: #002855;
    color: #fff;
}